body{
    background-color: tomato;
}
.title{
    position: fixed;
    left: 40%;
    top: 10%;
}
.fire-bowl{
    position: fixed;
    left: 44%;
    top:65%;
    color:black;
}
.jump-action{
    position: fixed;
    top:62%;
    left:21%;
}
.jump-action2{
    position: fixed;
    left:47%;
    top:50%;
}
.jump-action3{
    position: fixed;
    top: 60%;
    left:74%;
}
.button{
    position: fixed;
    left: 50%;
    top: 90%;
}
.let-go{
    position: fixed;
    top:20%;
    left: 45%;
}
